@media (min-width: 320px) and (max-width: 575px){
/* ============================================= */

nav ul li .dropdown {
    left: 40%;
    top: 0;
}
nav ul li:hover i{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
nav .navbar-toggler{
    border: 0;
}
.navbar-toggler:focus {
	box-shadow:none;
}
nav {
	position: static !important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

    /* =========================================== */
}